/* *MOBILE */
/* *TABLET */
@media (min-width: 576px) and (max-width: 1023.98px) {
  /* *HEADER START */
  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .header__search-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 60%;
  }
  /* *HEADER END */
}
/* *LAPTOP */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  /* *HEADER START */
  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .header__search-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
  }
  /* *HEADER END */
}
/* *DESKTOP */
@media (min-width: 1280px) {
  /* *HEADER START */
  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .header__search-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
  }
  .header__nav .menu {
    display: block;
  }
  .header__cart-wishlist .toggler {
    display: none;
  }
  /* *HEADER END */
  /* *HERO START */
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    padding: 40px 60px;
  }
  .hero__contents h1 {
    font-size: 3.5rem;
    line-height: 60px;
  }
  .hero__contents p {
    font-size: 1rem;
    width: 80%;
  }
  .hero__image img {
    height: 400px;
  }
  /* *HERO END */
}
/* *EXTRA-LARGE DESKTOP */