/* *MOBILE */
@media (min-width: 320px) and (max-width: 575.98px) {
}

/* *TABLET */
@media (min-width: 576px) and (max-width: 1023.98px) {
  .w-78 {
    width: 85%;
  }
  /* *HEADER START */
  .header {
    margin: 40px 0 60px;

    &__container {
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 20px;
    }
    &__logo {
      flex: none;
    }
    &__search-box {
      order: 0;
      width: 60%;
    }
  }
  /* *HEADER END */

  /* *SHOES START */
  .shoes {
      &__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  }
  /* *SHOES END */

  /* *CATEGORIES START */
  .categories {
    padding: 60px 0 50px;

    &__boxes {
      grid-template-columns: repeat(2, 1fr);

      a {
        padding: 15px 30px;
      }
    }
  }
  /* *CATEGORIES END */
}

/* *LAPTOP */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .w-78 {
    width: 78%;
  }
  /* *HEADER START */
  .header {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 20px;
    }
    &__logo {
      flex: none;
    }
    &__search-box {
      order: 0;
      width: 100%;
    }
  }
  /* *HEADER END */

  /* *CATEGORIES START */
  .categories {
    padding: 60px 0 50px;

    &__boxes {
      grid-template-columns: repeat(3, 1fr);

      a {
        padding: 15px 30px;
      }
    }
  }
  /* *CATEGORIES END */

    /* *SHOES START */
  .shoes {
      &__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  }
  /* *SHOES END */
}

/* *DESKTOP */
@media (min-width: 1280px) {
  .w-78 {
    width: 78%;
  }

  /* *HEADER START */
  .header {
    &__container {
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 20px;
    }
    &__logo {
      flex: none;
    }
    &__search-box {
      order: 0;
      width: 100%;
    }
    &__nav {
      .menu {
        display: block;
      }
    }
    &__cart-wishlist {
      .toggler {
        display: none;
      }
    }
  }
  /* *HEADER END */

  /* *HERO START */
  .hero {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 40px 60px;
    }
    &__contents {
      h1 {
        font-size: 3.5rem;
        line-height: 60px;
      }
      p {
        font-size: 1rem;
        width: 80%;
      }
    }
    &__image {
      img {
        height: 400px;
      }
    }
  }
  /* *HERO END */

  /* *CATEGORIES START */
  .categories {
    padding: 60px 0 10px;

    &__boxes {
      grid-template-columns: repeat(3, 1fr);

      a {
        padding: 15px 30px;
      }
    }
  }
  /* *CATEGORIES END */

    /* *SHOES START */
  .shoes {
      &__grid {
    grid-template-columns: repeat(3, 1fr);

        .shoes-box {
          h3 {
            font-size: 1.5rem;
          }
        }
  }
  }
  /* *SHOES END */
}

/* *EXTRA-LARGE DESKTOP */
@media (min-width: 1536px) {}
