h1,
h2,
h3 {
  font-family: $font-poppins;
  font-weight: 600;
  color: $heading-clr;
}

h1 {
  font-weight: 700;
}

h2 {
  // font-size: clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  // font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-family: $font-inter;
  font-size: 1rem;
  font-weight: 400;
  color: $text-clr;
}

input::placeholder {
  color: $placeholder-clr;
}