.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1536px;
}

.w-88 {
  width: 88%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.section-pad {
  padding: 98px 0;
}