.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1536px;
  // border: 1px solid red;
}

.w-88 {
  width: 88%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.section-pad {
  padding: 98px 0;
}

.d-none {
  display: none;
}